@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: white;
}
.glass {
  place-items: center;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 4px 30px #4747470b;
  backdrop-filter: blur(7.1px);
  border: 1px solid rgba(0, 0, 0, 0.8);
  @apply border-2 rounded-xl p-2 md:p-4 w-[98vw] md:w-[70vw] lg:w-[60vw];
}

h1 {
  font: 900 60px "Roboto";
}

.colorPicker {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 10px 20px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  transform: scale(1.05);
}
